:root{
    --robin-egg-blue-tranparent-90:rgba(10, 189, 198, 0.9);
    --yale-blue-tranparent-75:     rgba(19, 62, 124, 0.75);
    --oxford-blue-tranparent-90:   rgba(9, 24, 51, 0.9);
    --robin-egg-blue:#0ABDC6;
    --lavander-web:  #EBEBFF;
    --oxford-blue:   #091833;
    --steel-pink:    #EA00D9;
    --yale-blue:     #133E7C;
    --eminence:      #711C91;
}

@font-face {
    font-family: "genos-variable";
    src: url(../assets/fonts/Genos-Variable.ttf);
}
@font-face {
    font-family: "quantico-regular";
    src: url(../assets/fonts/Quantico-Regular.ttf);
}
@font-face {
    font-family: "tomorrow-regular";
    src: url(../assets/fonts/Tomorrow-Regular.ttf);
}